.movieDetail {
  display: flex;
  padding: 30px 30px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.imageTumb {
  width: 300px;
  margin-right: 30px;
}
.poster {
  display: block;
  height: auto;
  width: 300px;
}
