.reviewItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.userInfo {
  display: flex;
}
.avatar {
  display: block;
  border-radius: 50%;
  width: 60px;
  margin-right: 30px;
}
