.castItem {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 4px;
  flex-basis: calc(100% / 4 - 20px);
  margin-left: 30px;
  margin-top: 15px;
  box-shadow: 0px 2px 29px 6px #767637;
  margin-bottom: 20px;
}

.photo {
  display: block;
  height: auto;
  width: 100%;
}
