.reviewItem {
  padding: 15px 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 4px 25px 9px rgba(202, 104, 83, 0.2);
}
.reviewItem:not(:last-child) {
  margin-bottom: 30px;
}
.userInfo {
  display: flex;
}
.avatar {
  display: block;
  border-radius: 50%;
  width: 60px;
  margin-right: 30px;
}
.avatar:after {
  content: '\f127'' Битая картинка ' attr(alt);
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100, 100, 100);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
