.item {
  border-radius: 2px;
  box-shadow: 0px 4px 25px 9px rgba(202, 104, 83, 0.2);
  background-color: #fff;
}

.link {
  text-decoration: none;
  color: grey;
}

.item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.itemImage {
  width: 100%;
  display: inline-block;

  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
